In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline # visuvalization happen in the frame itself
import mlxtend     # for Market basket analysis


from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules # this to find support,confident,lift

UsageError: unrecognized arguments: # visuvalization happen in the frame itself

In [55]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules # this to find support,confident,lift

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

In [56]:
df=pd.read_csv('BreadBasket_DMS - Arindam Dev.csv',encoding='unicode_escape')
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

# First observation

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         21293 non-null  object
 1   Time         21293 non-null  object
 2   Transaction  21293 non-null  int64
 3   Item         21293 non-null  object
dtypes: int64(1), object(3)
memory usage: 665.5+ KB

In [58]:
df.shape

(21293, 4)

In [61]:
# Finding out no of unique values of each variable
df.nunique()

Date            159
Time           8240
Transaction    9531
Item             95
dtype: int64

# Data preprocessing

In [62]:
df.describe()

        Transaction
count  21293.000000
mean    4951.990889
std     2787.758400
min        1.000000
25%     2548.000000
50%     5067.000000
75%     7329.000000
max     9684.000000

In [63]:
df.columns

Index(['Date', 'Time', 'Transaction', 'Item'], dtype='object')

In [64]:
df['Item'].value_counts()

Coffee            5471
Bread             3325
Tea               1435
Cake              1025
Pastry             856
                  ...
Chicken sand         1
The BART             1
Adjustment           1
Olum & polenta       1
Bacon                1
Name: Item, Length: 95, dtype: int64

In [65]:
df['Item'].unique()

array(['Bread', 'Scandinavian', 'Hot chocolate', 'Jam', 'Cookies',
       'Muffin', 'Coffee', 'Pastry', 'Medialuna', 'Tea', 'NONE',
       'Tartine', 'Basket', 'Mineral water', 'Farm House', 'Fudge',
       'Juice', "Ella's Kitchen Pouches", 'Victorian Sponge', 'Frittata',
       'Hearty & Seasonal', 'Soup', 'Pick and Mix Bowls', 'Smoothies',
       'Cake', 'Mighty Protein', 'Chicken sand', 'Coke',
       'My-5 Fruit Shoot', 'Focaccia', 'Sandwich', 'Alfajores', 'Eggs',
       'Brownie', 'Dulce de Leche', 'Honey', 'The BART', 'Granola',
       'Fairy Doors', 'Empanadas', 'Keeping It Local', 'Art Tray',
       'Bowl Nic Pitt', 'Bread Pudding', 'Adjustment', 'Truffles',
       'Chimichurri Oil', 'Bacon', 'Spread', 'Kids biscuit', 'Siblings',
       'Caramel bites', 'Jammie Dodgers', 'Tiffin', 'Olum & polenta',
       'Polenta', 'The Nomad', 'Hack the stack', 'Bakewell',
       'Lemon and coconut', 'Toast', 'Scone', 'Crepes', 'Vegan mincepie',
       'Bare Popcorn', 'Muesli', 'Crisps', 'Pintxos', 'Gingerbread syrup',
       'Panatone', 'Brioche and salami', 'Afternoon with the baker',
       'Salad', 'Chicken Stew', 'Spanish Brunch',
       'Raspberry shortbread sandwich', 'Extra Salami or Feta',
       'Duck egg', 'Baguette', "Valentine's card", 'Tshirt',
       'Vegan Feast', 'Postcard', 'Nomad bag', 'Chocolates',
       'Coffee granules ', 'Drinking chocolate spoons ',
       'Christmas common', 'Argentina Night', 'Half slice Monster ',
       'Gift voucher', 'Cherry me Dried fruit', 'Mortimer', 'Raw bars',
       'Tacos/Fajita'], dtype=object)

In [66]:
len(df['Item'].unique())

95

In [67]:
df.isna().sum()

Date           0
Time           0
Transaction    0
Item           0
dtype: int64

In [68]:
# There is no null value. Lets check for 'None' in the dataset 
df[df['Item']=='None']

Empty DataFrame
Columns: [Date, Time, Transaction, Item]
Index: []

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         21293 non-null  object
 1   Time         21293 non-null  object
 2   Transaction  21293 non-null  int64
 3   Item         21293 non-null  object
dtypes: int64(1), object(3)
memory usage: 665.5+ KB

In [74]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

In [75]:
df.head()

        Date      Time  Transaction           Item  Year  Month  Day
0 2016-10-30  09:58:11            1          Bread  2016     10   30
1 2016-10-30  10:05:34            2   Scandinavian  2016     10   30
2 2016-10-30  10:05:34            2   Scandinavian  2016     10   30
3 2016-10-30  10:07:57            3  Hot chocolate  2016     10   30
4 2016-10-30  10:07:57            3            Jam  2016     10   30

In [76]:
df['Transaction'].unique()

array([   1,    2,    3, ..., 9682, 9683, 9684], dtype=int64)

In [85]:
transaction_list = []

# For loop to create a list of the unique transactions throughout the dataset:
for i in df['Transaction'].unique():
    tlist = list(set(df[df['Transaction']==i]['Item']))
    if len(tlist)>0:
        transaction_list.append(tlist)
print(len(transaction_list))

9531

In [88]:
from mlxtend.preprocessing import TransactionEncoder


te = TransactionEncoder()
te_ary = te.fit(transaction_list).transform(transaction_list)
df2 = pd.DataFrame(te_ary, columns=te.columns_)

In [89]:
frequent_itemsets = apriori(df2, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1.0)
rules.sort_values('confidence', ascending=False)

         antecedents       consequents  antecedent support  ...      lift  leverage  conviction
33           (Toast)          (Coffee)            0.033365  ...  1.482699  0.007651    1.775789
31  (Spanish Brunch)          (Coffee)            0.018046  ...  1.260494  0.002233    1.308493
18       (Medialuna)          (Coffee)            0.061379  ...  1.198175  0.005779    1.218561
25          (Pastry)          (Coffee)            0.085510  ...  1.162216  0.006590    1.172079
1        (Alfajores)          (Coffee)            0.036093  ...  1.138116  0.002368    1.142861
17           (Juice)          (Coffee)            0.038296  ...  1.124537  0.002266    1.127031
23            (NONE)          (Coffee)            0.079005  ...  1.120938  0.004539    1.122908
27        (Sandwich)          (Coffee)            0.071346  ...  1.120551  0.004086    1.122468
7             (Cake)          (Coffee)            0.103137  ...  1.109196  0.005350    1.109667
29           (Scone)          (Coffee)            0.034309  ...  1.100729  0.001642    1.100310
13         (Cookies)          (Coffee)            0.054034  ...  1.091280  0.002343    1.090053
15   (Hot chocolate)          (Coffee)            0.057916  ...  1.067704  0.001863    1.065276
5          (Brownie)          (Coffee)            0.039765  ...  1.033013  0.000624    1.030799
21          (Muffin)          (Coffee)            0.038191  ...  1.029321  0.000532    1.027260
3           (Pastry)           (Bread)            0.085510  ...  1.042194  0.001172    1.020731
34            (NONE)             (Tea)            0.079005  ...  1.631394  0.007066    1.116309
10            (Cake)             (Tea)            0.103137  ...  1.615972  0.008999    1.113146
36        (Sandwich)             (Tea)            0.071346  ...  1.412000  0.004164    1.072946
9    (Hot chocolate)            (Cake)            0.057916  ...  1.897010  0.005358    1.115019
11             (Tea)            (Cake)            0.141643  ...  1.615972  0.008999    1.076235
39          (Pastry)   (Bread, Coffee)            0.085510  ...  1.454947  0.003478    1.046749
35             (Tea)            (NONE)            0.141643  ...  1.631394  0.007066    1.057264
38   (Bread, Coffee)          (Pastry)            0.089393  ...  1.454947  0.003478    1.044430
6           (Coffee)            (Cake)            0.475081  ...  1.109196  0.005350    1.012717
8             (Cake)   (Hot chocolate)            0.103137  ...  1.897010  0.005358    1.058364
37             (Tea)        (Sandwich)            0.141643  ...  1.412000  0.004164    1.032688
24          (Coffee)          (Pastry)            0.475081  ...  1.162216  0.006590    1.015402
2            (Bread)          (Pastry)            0.324940  ...  1.042194  0.001172    1.003961
22          (Coffee)            (NONE)            0.475081  ...  1.120938  0.004539    1.010483
26          (Coffee)        (Sandwich)            0.475081  ...  1.120551  0.004086    1.009348
19          (Coffee)       (Medialuna)            0.475081  ...  1.198175  0.005779    1.013129
14          (Coffee)   (Hot chocolate)            0.475081  ...  1.067704  0.001863    1.004180
12          (Coffee)         (Cookies)            0.475081  ...  1.091280  0.002343    1.005241
32          (Coffee)           (Toast)            0.475081  ...  1.482699  0.007651    1.016943
16          (Coffee)           (Juice)            0.475081  ...  1.124537  0.002266    1.004984
0           (Coffee)       (Alfajores)            0.475081  ...  1.138116  0.002368    1.005199
4           (Coffee)         (Brownie)            0.475081  ...  1.033013  0.000624    1.001369
20          (Coffee)          (Muffin)            0.475081  ...  1.029321  0.000532    1.001166
28          (Coffee)           (Scone)            0.475081  ...  1.100729  0.001642    1.003592
30          (Coffee)  (Spanish Brunch)            0.475081  ...  1.260494  0.002233    1.004810

[40 rows x 9 columns]

In [91]:
rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.5) ]

         antecedents consequents  antecedent support  consequent support  ...  confidence      lift  leverage  conviction
1        (Alfajores)    (Coffee)            0.036093            0.475081  ...    0.540698  1.138116  0.002368    1.142861
7             (Cake)    (Coffee)            0.103137            0.475081  ...    0.526958  1.109196  0.005350    1.109667
13         (Cookies)    (Coffee)            0.054034            0.475081  ...    0.518447  1.091280  0.002343    1.090053
15   (Hot chocolate)    (Coffee)            0.057916            0.475081  ...    0.507246  1.067704  0.001863    1.065276
17           (Juice)    (Coffee)            0.038296            0.475081  ...    0.534247  1.124537  0.002266    1.127031
18       (Medialuna)    (Coffee)            0.061379            0.475081  ...    0.569231  1.198175  0.005779    1.218561
23            (NONE)    (Coffee)            0.079005            0.475081  ...    0.532537  1.120938  0.004539    1.122908
25          (Pastry)    (Coffee)            0.085510            0.475081  ...    0.552147  1.162216  0.006590    1.172079
27        (Sandwich)    (Coffee)            0.071346            0.475081  ...    0.532353  1.120551  0.004086    1.122468
29           (Scone)    (Coffee)            0.034309            0.475081  ...    0.522936  1.100729  0.001642    1.100310
31  (Spanish Brunch)    (Coffee)            0.018046            0.475081  ...    0.598837  1.260494  0.002233    1.308493
33           (Toast)    (Coffee)            0.033365            0.475081  ...    0.704403  1.482699  0.007651    1.775789

[12 rows x 9 columns]

__Coffe is a popular Consequent in this dataset__