# Type casting

In [ ]:
#type casting helps to convert variable value from one type to another

In [2]:
float(12)

12.0

In [3]:
int(43.4)

43

In [4]:
float('2342')

2342.0

In [17]:
float("10")

10.0

# List

In [5]:
str("1234")

'1234'

In [6]:
list("aadhavan")

['a', 'a', 'd', 'h', 'a', 'v', 'a', 'n']

In [7]:
int('12.34')  #this is float inside the sting. so this is not possible

ValueError: invalid literal for int() with base 10: '12.34'

In [8]:
(float('12.34')) # according to pedmas rule. paranthesis react inner to outer firt "12.34" will react then float

12.34

In [9]:
(int('12.34'))

ValueError: invalid literal for int() with base 10: '12.34'

# Tupple

In [10]:
#tupple is same as list with open brackets

In [13]:
int[12]

TypeError: 'type' object is not subscriptable

# operators

## arithmetic operators

In [19]:
2+3  #addition

5

In [20]:
5-2 #subtraction

3

In [21]:
3*2 #multiplication

6

In [22]:
8/3 #division

2.6666666666666665

In [23]:
18%4 #this "%" is called modulo function which gives reminder value

2

In [24]:
14//2 #this // function is called floor admission which gives the value of quotient

7

In [25]:
2**3 #this **is called exponential or power root

8

## Relational order <<=>>=!===
this relation order output only will be true or false

In [26]:
5<2

False

In [27]:
3>1

True

In [28]:
5==52 #""=="this is equal to equal to

False

In [32]:
5==51
5==7
51==7

False

In [33]:
5!=87 #this "!=" is called as not equal to

True

## logical operator
and or not

In [34]:
x=4
print (x<5 and x<10) #return if both the statements true then true . if both the statement false then false

True

In [35]:
x=3
print(x>8 or x<=3) #return if either one statement is true then its true

True

In [36]:
x=4
print (not(x<5 and x<10)) #reverse the results. return if true then false

False

## Bitwise operators
&|^~<<>>
this bitwise operator is not much important

In [ ]:
& this is same as and operation
| this is same as or operation

In [42]:
x=3
y=4
print (x>1 ^ y>2)  # this ^"exor" operation

False

In [ ]:
~ unary operation

In [ ]:
<< left shift

In [ ]:
>> Right shift

## Membership operatopr
in ,not in
This is very much important in Machine learning & deep learning

In [6]:
x=(1,2,3,4,5)
print (3 in x)

True

In [7]:
x=(1,2,3,4,5)
print (6 not in x)

True

## Identity Operators
is, is not . this is like membership operators. but check logical equality.

In [11]:
x= 2
y= 3
print (y is not x)

True

In [12]:
x= 2
y= 3
print (y is x)

False

## conditional Execution
if, elif, elseelif

In [14]:
x=8
if x>6:
    print(x)
    print ("hello world") #since the codition is satisfy you will get the output

8
hello world

In [16]:
y=8
if y<4:
    print(y)
    print ("aadhavan") #You dont get the output becaus the condition is not satisfy

In [23]:
x= 9
if x>9:
    print(x,"is greater than 9")
elif x<9:
    print(x, "is less than 9")
else:
    print (x, "is equaler than 9")

9 is equaler than 9

## Chained condition
This is same as condition execution

In [28]:
x=9
if x<=9:
    if x==9:
         print(x,"is equaler than 9")
    else:
        print(x,"is lesser than 9")
else:
    print(x,"is greater than 9")

9 is equaler than 9

## Looping statemet
for, while
everthing which applicable "for" loop will be applicable to "while" loop

In [30]:
n=["aadhavan",1,23+9j]
for i in n:
    print(i)      #here in this case"print(i)"" it will come in vertical order

aadhavan
1
(23+9j)

In [31]:
n=["aadhavan",1,23+9j]
for i in n:
    print(i,end="\t")      #here in this case"print(i,end="\t")'' it will come in vertical order. end= is end attribute

aadhavan	1	(23+9j)

In [32]:
n=["aadhavan",1,23+9j]
for i in n:
    print(i,end="aadhavan") #After printing every value you need to print with aadhavan that is meaning

aadhavanaadhavan1aadhavan(23+9j)aadhavan

In [33]:
n=["aadhavan",1,23+9j]
for i in n:
    print(i,end=" ")

aadhavan 1 (23+9j)

In [35]:
str = "aadhavan"
for i in str:
    print (i)

a
a
d
h
a
v
a
n

In [36]:
str = "aadhavan"
for i in str:
    print (i,end="\t")

a	a	d	h	a	v	a	n