# Question 1


Assuming that we have some email adresses in "username@companyname.com" format,please write a program to print the company name of a given email address. both user names and comany names are composed of letters only.

input format:
the first line of the input contains an email address.

output format :
print the company name in single line

example:
input:
jhon@google.com
output:
google

In [10]:
# using the "find" function to find the index value
s = "jhon@google.com"
print (s)
s.find("g")

jhon@google.com

5

In [11]:
# using the "find" function to find the index value
s.find("e")

10

In [14]:
# by index value we using the slice function to get our output
s = "jhon@google.com"
print (s)
print(s[5:11])

jhon@google.com
google

# Question 2


write a program that accepts a comma seperated sequence of words as input and print the words in a comma seperated sequence after sorting them alphabetically

input:
without,hello,bag,world
output:
bag,hello,without,world

input:
without,hello,bag,world
output:
bag,hello,without,world

In [2]:
q2=["without","hello","bag","world"]
print(q2)
q2.sort()
print(q2)

['without', 'hello', 'bag', 'world']
['bag', 'hello', 'without', 'world']

# Question 3

create your own jupyter notebook for sets

## set

set is a unordered & unindexed. 
every set element is unique. 
set is a immutable in nature like tupple
{} ----> this brace brackets represent a set

In [8]:
set = {"aadhavan","kallakurichi","chennai"}
print(set)

{'aadhavan', 'kallakurichi', 'chennai'}

In [14]:
set = {"aadhavan","kallakurichi","chennai"}
print(set)
print(type(set))

{'aadhavan', 'kallakurichi', 'chennai'}
<class 'set'>

In [15]:
# since this is unorderd & unindexed  
#you cannot access items in a set by referring to an index or key 
set = {"aadhavan","kallakurichi","chennai"}
print(set[0])

# as we discussed this is error

TypeError: 'set' object is not subscriptable

## for loop in set

In [17]:
# but you can use loop

set1 = {"aadhavan","kallakurichi","chennai"}

for i in  set1:
    print(i)

aadhavan
kallakurichi
chennai

## membership operator in set

In [21]:
# you can ask is specified value is present in the set

set1 = {"pen","pencil","eraser"}
print("pen" in set1)

True

## add()
to add one item in the set

In [22]:
# to add one item to the set you can use add()

set1 = {"pen","pencil","eraser"}
set1.add("paper")

print(set1)

{'pen', 'pencil', 'eraser', 'paper'}

## update()
to add more than one item in the set

In [31]:
# to add more than one item in the set then you can use update()
set1 = {"pen","pencil","eraser"}
set1.update(("paper","redpen","greenpen")) 
print(set1)

{'greenpen', 'paper', 'pen', 'redpen', 'pencil', 'eraser'}

## len()
here length of the set use to determine how many items in the set

In [32]:
set1 = {"pen","pencil","eraser"}
len(set1)

3

## remove() / discard()

this both used to remove the item from the set

In [35]:
set1 = {"pen","pencil","eraser"}
set1.remove("pen")
print(set1)

{'pencil', 'eraser'}

In [39]:
# mostly we dont use discard()
# we prefer remove() only
set1 = {"pen","pencil","eraser"}
set1.discard("pen")
print(set1)

{'pencil', 'eraser'}

## pop()
remove the last item by using pop function

In [41]:
set1 = {"pen","pencil","eraser"}
x=set1.pop()

print(x)

print(set1)

pen
{'pencil', 'eraser'}

## del()
this used to delete the complete set

In [43]:
set1 = {"pen","pencil","eraser"}
del (set1)
print(set1)  #this will raise the error because the set is no longer exists

NameError: name 'set1' is not defined

## clear()

this will clear all the items in the set. then make this set as empty

In [44]:
set1 = {"pen","pencil","eraser"}
set1.clear()
print (set1)

set()

## union()

this will use to join two are more set

In [45]:
# joining two sets
set1 = {"pen","pencil","eraser"}
set2 = {1,2,3}

set3= set1.union(set2)
print(set3)

{'pen', 1, 2, 3, 'pencil', 'eraser'}

In [46]:
#joining more than two sets
set1 = {"pen","pencil","eraser"}
set2 = {1,2,3}
set3 = {2.76,5.76,9.334}

set4= set1.union(set2).union(set3)
print(set4)

{1, 2, 3, 2.76, 5.76, 9.334, 'pen', 'pencil', 'eraser'}

In [47]:
# update() alsoo act in the same like union()
set1 = {"pen","pencil","eraser"}
set2 = {1,2,3}
set1.update(set2)

print(set1)

{'pen', 1, 2, 3, 'pencil', 'eraser'}

## the set constructor

this is used to make a set

In [51]:
# s= set(("pen","pencil","eraser"))
# print(s)

## unfortuunately this program is showing error

# Question 4

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. 
There are no duplicates

example
input:
(1,2,3,4,5)
output:
5

In [69]:
def find_missing(l1):
    return [i for i in range(l1[0], l1[-1]+1) if i not in l1]

l1=[1,3,4,5,6,8,10]
print (find_missing(l1))

[2, 7, 9]

# Question 5

write a program to this L after removing all duplicate values with orginal order reserved.

Example
input:
12 14 16 18 20 22 24 26 14 16 22 
output:
12 14 16 18 20 22 24 26

In [75]:
# initiating the list
l1 = [12,14,16,18,20,22,24,26,14,16,22]
print("the list with duplicate is:" + str(l1))

l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)

#printing the list after removal
print("the new list is:" + str(l2))

the list with duplicate is:[12, 14, 16, 18, 20, 22, 24, 26, 14, 16, 22]
the new list is:[12, 14, 16, 18, 20, 22, 24, 26]